<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/build/tailwind-build.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Gallery</title>
</head>
<body class="m-3">
    <form class="flex justify-end mx-4 my-2" method="post" enctype="multipart/form-data">
        <button class="focus:bg-green-500 focus:text-white font-semibold border focus:border-green-500 rounded-lg p-1 mr-5 focus:outline-none" type="submit">Send</button>
        
        <label class="bg-indigo-400 flex items-center self-center cursor-pointer border-2 border-indigo-500 rounded-lg hover:bg-indigo-500 p-2" for="photo">
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-white text-sm ml-2">Select</span>
            <input type="file" accept="image/*" class="hidden" name="photo" id="photo">
        </label>
    </form>
        
    <div class="flex flex-wrap sm:content-center lg:content-start m-2">
        <% content.forEach((file) => { %>
            <div class="flex flex-col border-2 m-2 p-3">
                <img src="<%- `${url}${file.Key}` %>" alt="Satania-sama" class="max-w-xs max-h-72">
    
                <form action="/home/delete" method="post">
                    <input type="hidden" id="file" name="file" value="<%= file.Key %>">
    
                    <button type="submit">
                        Delete
                    </button>
                </form>
            </div>
        <% }) %>
    </div>
</body>
</html>
