<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="photo" id="photo">
        <button type="submit">Send</button>
    </form>

    <div>
        <p>Image</p>
        <% content.forEach((file) => { %>
            <img src="<%- `${url}${file.Key}` %>" alt="Satania-sama" width="500" height="600" id="<%= file.Key %>">

            <form action="/home/delete" method="post">
                <input type="hidden" id="file" name="file" value="<%= file.Key %>">

                <button type="submit">
                    Delete
                </button>
            </form>
        <% }) %>
    </div>
</body>
</html>
