---
import MainContainer from '@components/MainContainer'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="./favicon.svg">
		<title>Photo Gallery</title>
	</head>
	<body class="bg-indigo-50">
		<MainContainer client:load />
	</body>
</html>
