---
import UploadButton from '../components/UploadButton.jsx'
import ImagesContainer from '../components/Images.jsx'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Photo Gallery</title>
	</head>
	<body>
		<nav class="bg-indigo-500 border-b border-b-indigo-700 p-2">
			<UploadButton client:load />
		</nav>

		<main class="m-5">
			<ImagesContainer client:load />
		</main>
	</body>
</html>
