---
import UploadButton from '../components/UploadButton.jsx'
import ImagesContainer from '../components/Images.jsx'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<UploadButton client:load />

		<main>
			<!-- content.forEach(file => {inside}) -->
			<div>
				<!-- url -> https://photo-gallery-heroku.s3.us-east-2.amazonaws.com/ `${url}${file.key}` -->
				<img src="#" alt="#">

				<form action="post">
					<input type="hidden" value="file.Key">

					<button type="submit">Delete</button>
				</form>
			</div>

			<ImagesContainer client:load />
		</main>
	</body>
</html>
